.guideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  background-color: #e8488b;
  color: #ffffff;
  box-shadow:
    inset 0 -20px 30px rgba(#5a1029, 0.2),
    inset 0 -5px 4px rgba(#5a1029, 0.3);
  transition: height 0.3s ease;

  &.is-guide-nav-open {
    height: 100%;
  }
}

  .guideNav__header {
    display: flex;
    align-items: center;
    height: 60px;
  }

    .guideNav__menu {
      cursor: pointer;
      padding: 10px;
      margin-right: 10px;
      border-radius: 3px;

      &.is-menu-button-pinned,
      &:hover {
        background-color: rgba(black, 0.15);
      }

      &:active {
        background-color: rgba(black, 0.2);
        box-shadow: inset 0 -2px 8px rgba(black, 0.2);
      }
    }

    .guideNav__title {
      font-size: 18px;
    }
