<div class="toolBar">
  <div class="toolBar__item">
    <button class="button button--default">
      Default button
    </button>
  </div>

  <div class="toolBar__item">
    <button disabled class="button button--default">
      Default button, disabled
    </button>
  </div>

  <div class="toolBar__item">
    <button class="button button--primary">
      Primary button
    </button>
  </div>

  <div class="toolBar__item">
    <button disabled class="button button--primary">
      Primary button, disabled
    </button>
  </div>

  <div class="toolBar__item">
    <button class="button button--danger">
      Danger button
    </button>
  </div>

  <div class="toolBar__item">
    <button disabled class="button button--danger">
      Danger button, disabled
    </button>
  </div>
</div>
