<div class="toolBar">
  <button class="button button--default">
    Default button
  </button>

  <button disabled class="button button--default">
    Default button, disabled
  </button>

  <button class="button button--primary">
    Primary button
  </button>

  <button disabled class="button button--primary">
    Primary button, disabled
  </button>

  <button class="button button--danger">
    Danger button
  </button>

  <button disabled class="button button--danger">
    Danger button, disabled
  </button>
</div>
