<div class="toolBar">
  <button class="button button--basic">
    Basic button
  </button>

  <button disabled class="button button--basic">
    Basic button, disabled
  </button>

  <button class="button button--primary">
    Primary button
  </button>

  <button disabled class="button button--primary">
    Primary button, disabled
  </button>

  <button class="button button--danger">
    Danger button
  </button>

  <button disabled class="button button--danger">
    Danger button, disabled
  </button>
</div>
