.button {
  appearance: none;
  padding: 4px 12px 5px;
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  text-decoration: none;
  border: none;
  border-radius: $buttonBorderRadius;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:hover:enabled {
    box-shadow:
      0 1px 0 rgba(black, 0.1),
      0 1px 2px rgba(black, 0.05),
      0 2px 4px rgba(black, 0.05);
  }

  &:active:enabled {
    box-shadow:
      inset 0 1px 0 rgba(black, 0.1),
      inset 0 1px 2px rgba(black, 0.05),
      inset 0 2px 4px rgba(black, 0.05);
  }

  &:focus {
    @include focus;
  }
}

.button--iconText {
  .button__icon {
    margin-right: 4px;
  }
}

.button--basic {
  color: $fontColor;
  background-color: #F2F2F2;

  &:hover:enabled {
    background-color: #e4e4e4;
  }

  &:active:enabled {
    background-color: #d8d8d8;
  }

  &:disabled {
    color: #9B9B9B;
  }
}

.button--primary {
  background-color: #6EADC1;
  color: #FFFFFF;

  &:hover:enabled {
    background-color: #006D89;
  }

  &:active:enabled {
    background-color: #00586A;
  }

  &:disabled {
    background-color: #B6D6E0;
  }
}

.button--danger {
  background-color: #D76051;
  color: #FFFFFF;

  &:hover:enabled {
    background-color: #B94233;
  }

  &:active:enabled {
    background-color: #A52E1F;
  }

  &:disabled {
    background-color: #ebbeb8;
  }
}
