<div class="controlledTable">
  <!-- ToolBar -->
  <div class="toolBar">
    <div class="toolBarSearch">
      <div class="toolBarSearchBox">
        <div class="toolBarSearchBox__icon fa fa-search"></div>
        <input
          class="toolBarSearchBox__input"
          type="text"
          placeholder="Search..."
        >
      </div>
    </div>

    <div class="toolBarSection">
      <button class="button button--primary">
        Add
      </button>

      <button class="button button--basic button--icon">
        <span class="button__icon fa fa-gear"></span>
      </button>

      <button class="button button--basic button--icon">
        <span class="button__icon fa fa-bars"></span>
      </button>
    </div>

    <div class="toolBarSection">
      <div class="toolBarText">
        1 &ndash; 20 of 33
      </div>

      <div class="buttonGroup">
        <button class="button button--basic button--icon">
          <span class="button__icon fa fa-chevron-left"></span>
        </button>
        <button class="button button--basic button--icon">
          <span class="button__icon fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th class="tableHeaderCell tableHeaderCell--checkBox">
          <input type="checkbox" class="checkBox">
        </th>
        <th class="tableHeaderCell">
          Title
        </th>
        <th class="tableHeaderCell">
          Date created
        </th>
        <th class="tableHeaderCell">
          Date last modified
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="tableRowCell tableRowCell--checkBox">
          <input type="checkbox" class="checkBox">
        </td>
        <td class="tableRowCell">
          Alligator
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
      </tr>

      <tr>
        <td class="tableRowCell tableRowCell--checkBox">
          <input type="checkbox" class="checkBox">
        </td>
        <td class="tableRowCell">
          Boomerang
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
      </tr>

      <tr>
        <td class="tableRowCell tableRowCell--checkBox">
          <input type="checkbox" class="checkBox">
        </td>
        <td class="tableRowCell">
          Celebration
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
      </tr>

      <tr>
        <td class="tableRowCell tableRowCell--checkBox">
          <input type="checkbox" class="checkBox">
        </td>
        <td class="tableRowCell">
          Dog
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
        <td class="tableRowCell">
          <div class="tableRowCell__liner">
            Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- ToolBarFooter -->
  <div class="toolBarFooter">
    <div class="toolBarFooterSection">
      <div class="toolBarText">
        1 &ndash; 20 of 33
      </div>

      <div class="buttonGroup">
        <button class="button button--basic button--icon">
          <span class="button__icon fa fa-chevron-left"></span>
        </button>
        <button class="button button--basic button--icon">
          <span class="button__icon fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>

</div>
