<table class="table">
  <thead>
    <tr>
      <th class="tableHeaderCell tableHeaderCell--checkBox">
        <input type="checkbox" class="tableCheckBox">
      </th>
      <th class="tableHeaderCell">
        Title
      </th>
      <th class="tableHeaderCell">
        Date created
      </th>
      <th class="tableHeaderCell">
        Date last modified
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="tableRowCell tableRowCell--checkBox">
        <input type="checkbox" class="tableCheckBox">
      </td>
      <td class="tableRowCell">
        Alligator
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr>
      <td class="tableRowCell tableRowCell--checkBox">
        <input type="checkbox" class="tableCheckBox">
      </td>
      <td class="tableRowCell">
        Boomerang
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr>
      <td class="tableRowCell tableRowCell--checkBox">
        <input type="checkbox" class="tableCheckBox">
      </td>
      <td class="tableRowCell">
        Celebration
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr>
      <td class="tableRowCell tableRowCell--checkBox">
        <input type="checkbox" class="tableCheckBox">
      </td>
      <td class="tableRowCell">
        Dog
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="tableRowCell">
        <div class="tableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>
  </tbody>
</table>
