@mixin tableCell {
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  padding: 7px 8px 8px;
  text-align: left;

  &:last-child {
    padding-right: 16px;
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  border: $tableBorder;
  border-collapse: collapse;
}

.tableHeaderCell {
  @include tableCell;
  color: #787878;
}

.tableRowCell {
  @include tableCell;
  border-top: $tableBorder;
}

  .tableRowCell__liner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/**
 * 1. Rendered width of cell with checkbox inside of it.
 */
.tableHeaderCell--checkBox,
.tableRowCell--checkBox {
  width: 28px; /* 1 */
  padding-right: 0;
}
