<div class="toolBar">
  <div class="toolBar__section">
    <div class="toolBar__item">
      <div class="toolBarSearch">
        <div class="toolBarSearchBox">
          <div class="toolBarSearchBox__icon fa fa-search"></div>
          <input
            class="toolBarSearchBox__input"
            type="text"
            placeholder="Search..."
          >
        </div>
      </div>
    </div>
  </div>

  <div class="toolBar__section">
    <div class="toolBar__item">
      <button class="button button--primary">
        Add
      </button>
    </div>

    <div class="toolBar__item">
      <button class="button button--default button--icon">
        <span class="button__icon fa fa-gear"></span>
      </button>
    </div>

    <div class="toolBar__item">
      <button class="button button--default button--icon">
        <span class="button__icon fa fa-bars"></span>
      </button>
    </div>
  </div>

  <div class="toolBar__section">
    <div class="toolBar__item">
      <div class="toolBarText">
        1 &ndash; 20 of 33
      </div>
    </div>

    <div class="toolBar__item">
      <div class="buttonGroup">
        <button class="button button--default button--icon">
          <span class="button__icon fa fa-angle-left"></span>
        </button>
        <button class="button button--default button--icon">
          <span class="button__icon fa fa-angle-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
