
.localMenu {
  display: flex;
  align-items: center;
  height: 100%;
}

  .localMenuItem {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $localNavSideSpacing;
    font-size: $localNavFontSizeNormal;
    background-color: transparent;
    color: #5a5a5a;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: rgba(#000000, 0.1);
      color: #000000;
    }

    &.localMenuItem-isSelected {
      background-color: #f6f6f6;
    }

    &.localMenuItem-isDisabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }

    .localMenuItem__icon {
      margin-right: 5px;
      margin-bottom: -1px;
    }
